@import "tailwindcss";

@theme {
  --color-background: #da1e27;
  --color-text-White: #fff;
  --color-text-Primary: #041436;
  --color-text-Secondary: #676e7c;
  --color-text-SecondaryTwo: #8a909c
  --color-text-Star: #ff9529;
  --color-text-black: #000;
  --color-bannerLayer: rgba(65, 65, 65, 0.74);
  --color-bg-input: #f7f7f8;
  --color-bg-blog: #f4f7fb;
  --color-facebook: #1877f2;
  --color-twitter: #1d9bf0;
  --color-pinterest: #e60023;
  --color-insta: #ff0069;
  --color-secondaryBackground: rgba(255, 94, 20, 0.3);
  --color-contributionSec: #e4e9e6;
  --color-zink: #e4e4e7;
  --color-zink700: #3f3f46;
  --color-zink900: #18181b;

  /* Custom colors */
  --color-custom-gray: #676e7c; /* CapacityLeadPayment component */
  --color-custom-slate: #1e293b; /* CapacityLeadPayment component */
  --color-custom-red: #dc2626; /* CapacityLeadPayment component */
  --color-custom-dark-gray: #231F20; /* Certifications component */
  --color-custom-light-gray: #f9fafb; /* ClientsFeadback component */
  --color-custom-border-gray: #e5e7eb; /* ClientsFeadback component */
  --color-custom-green: #22c55e; /* WhatsAppButton component */
  --color-custom-dark-slate: #1f2937; /* ContactSection component */
  --color-custom-light-slate: #374151; /* ContactSection component */
  --color-custom-link-red: #ef4444; /* ContactSection component */
  --color-custom-bg-gray: #f9fafb; /* ContactUs component */
  --color-custom-input-bg: #f7f7f8; /* ContactUs component */
  --color-custom-dark-blue: #041436; /* ContributionBluePlanet component */
  --color-custom-light-blue: #f4f7fb; /* Discover component */
  --color-custom-dark-red: #b91c1c; /* Discover component */
  --color-custom-black: #000000; /* FabricLibrary component */
  --color-custom-footer-bg: #041436; /* Footer component */
  --color-custom-footer-border: #676e7c; /* Footer component */
  --color-custom-hover-red: #ff5e14; /* Footer component */
  --color-custom-team-overlay: #041436; /* MeatOurTeam component */
  --color-custom-team-border: #ffffff; /* MeatOurTeam component */
  --color-custom-nav-bg: linear-gradient(65deg,theme(colors.text.White)_35%,theme(colors.background)_30%); /* Navbar component */
  --color-custom-nav-mobile-bg: linear-gradient(65deg,theme(colors.text.White)_65%,theme(colors.background)_30%); /* Navbar component */
  --color-custom-nav-md-bg: linear-gradient(65deg,theme(colors.text.White)_70%,theme(colors.background)_30%); /* Navbar component */
  --color-custom-client-bg: #ffffff; /* OurClients component */
  --color-custom-client-border: #e5e7eb; /* OurClients component */
  --color-custom-dept-border: #ff5e14; /* OurKeyAndDepartment component */
  --color-custom-strength-bg: #231F20; /* OurStrength component */
  --color-custom-service-layer: rgba(65, 65, 65, 0.5); /* OurServices component */
  --color-custom-how-work-border: #ff5e14; /* HowWeWork component */
  --color-custom-leader-bg: #ffffff; /* MeetWithOurLeaders component */
  --color-custom-leader-border: rgba(0, 0, 0, 0.1); /* MeetWithOurLeaders component */
  --color-custom-leader-hover-bg: #ff5e14; /* MeetWithOurLeaders component */
  --color-custom-safe-work-bg: #1f2937; /* SafeWorkEnvironment component */
  --color-custom-success-bg: rgba(255, 255, 255, 0.8); /* SuccessCount component */
  --color-custom-testimonial-bg: #f4f7fb; /* Testimonial component */
  --color-custom-ensure-quality-bg: #f4f7fb; /* WeEnsureQuality component */
  --color-custom-breadcrumb-bg: rgba(65, 65, 65, 0.4); /* Breadcrumb component */
  --color-custom-footer-page-bg: #041436; /* Footer component in Pages */
  --color-custom-footer-page-text: rgba(255, 255, 255, 0.8); /* Footer component in Pages */
  --color-custom-footer-page-input-bg: rgba(255, 255, 255, 0.1); /* Footer component in Pages */
  --color-custom-glance-border: #676e7c; /* SuccessGlance component */
  --color-custom-sustainable-piller-bg: #231F20; /* SustainabilityPillers component */
  --color-custom-sustainable-roadmap-bg: #231F20; /* SustainabilityRoadmap component */
  --color-custom-sustainable-roadmap-shadow: rgba(0, 0, 0, 0.7); /* SustainabilityRoadmap component */
  --color-custom-sustainable-bg: #000000; /* Sustainable component */
  --color-custom-accessories-bg: #231F20; /* SustainAccesories component */
  --color-custom-project-overlay: rgba(65, 65, 65, 0.74); /* TopProjects component */
  --color-custom-transparency-bg: #1f2937; /* TranceparancySection component */
  --color-custom-value-addition-bg: #000000; /* ValueAddition component */
  --color-custom-washing-bg: #111827; /* WashingPeceDyed component */
  --color-custom-easy-border: #ff5e14; /* MakeThingEasy component */
  --color-custom-welcome-bg: #041436; /* WelcomeToStyleMuseum component */
  --color-custom-best-overlay: rgba(65, 65, 65, 0.74); /* WhyWeAreBest component */

  /* Shadow */
  --shadow-section: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-card: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-card2: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-box-LGshadow: 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* Shadow variables */

  /* Border radius */
  --radius-0px: 0px;
  --radius-2px: 2px;
  --radius-4px: 4px;
  --radius-6px: 6px;
  --radius-8px: 8px;
  --radius-12px: 12px;
  --radius-16px: 16px;
  --radius-20px: 20px;
  --radius-24px: 24px;
  --radius-50%: 50%;
  --radius-100%: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Slider navigations bullets cutom Design  */
.custom-pagination .swiper-pagination-bullet {
  @apply w-3 h-3 bg-text-Secondary rounded-24px opacity-100 cursor-pointer transition-all duration-300 ease-in-out;
}

/* Styling for the active pagination bullet */
.custom-pagination .swiper-pagination-bullet-active {
  @apply w-8 bg-background rounded-24px;
}

/* Optional: Add a hover effect for better UX */
.custom-pagination .swiper-pagination-bullet:hover {
  @apply bg-text-Secondary;
}

/* Slider navigations bullets cutom Design  END*/
