@import "tailwindcss";

@theme {
  --color-background: #ff5e14;
  --color-text-White: #fff;
  --color-text-Primary: #041436;
  --color-text-Secondary: #676e7c;
  --color-text-Star: #ff9529;
  --color-text-black: #000;
  --color-bannerLayer: rgba(65, 65, 65, 0.74);
  --color-bg-input: #f7f7f8;
  --color-bg-blog: #f4f7fb;

  /* Shadow */
  --shadow-section: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-card: 6px 6px 10px rgba(0, 0, 0, 0.1);

  /* Shadow variables */

  /* Border radius */
  --radius-0px: 0px;
  --radius-2px: 2px;
  --radius-4px: 4px;
  --radius-8px: 8px;
  --radius-12px: 12px;
  --radius-16px: 16px;
  --radius-20px: 20px;
  --radius-24px: 24px;
  --radius-50%: 50%;
  --radius-100%: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
