@import "tailwindcss";

@theme {
  --color-background: #da1e27;
  --color-text-White: #fff;
  --color-text-Primary: #041436;
  --color-text-Secondary: #676e7c;
  --color-text-SecondaryTwo: #8a909c;
  --color-text-Star: #ff9529;
  --color-text-black: #000;
  --color-bannerLayer: rgba(65, 65, 65, 0.74);
  --color-bg-input: #f7f7f8;
  --color-bg-blog: #f4f7fb;
  --color-facebook: #1877f2;
  --color-twitter: #1d9bf0;
  --color-pinterest: #e60023;
  --color-insta: #ff0069;
  --color-secondaryBackground: rgba(255, 94, 20, 0.3);
  --color-contributionSec: #e4e9e6;
  --color-zink: #e4e4e7;
  --color-zink700: #3f3f46;
  --color-zink900: #18181b;

  /* Custom colors */
  --color-custom-red: #dc2626;
  --color-custom-dark-gray: #231f20;
  --color-custom-green: #22c55e;
  --color-custom-dark-slate: #1f2937;
  --color-custom-light-slate: #374151;
  --color-custom-link-red: #ef4444;
  --color-custom-dark-blue: #041436;
  --color-custom-light-blue: #f4f7fb;
  --color-custom-dark-red: #b91c1c;
  --color-custom-black: #000000;
  --color-custom-footer-border: #676e7c;
  --color-custom-hover-red: #ff5e14;
  --color-custom-team-border: #ffffff;
  --color-custom-nav-bg: linear-gradient(
    65deg,
    theme(colors.text.White) _35%,
    theme(colors.background) _30%
  );
  --color-custom-nav-mobile-bg: linear-gradient(
    65deg,
    theme(colors.text.White) _65%,
    theme(colors.background) _30%
  );
  --color-custom-nav-md-bg: linear-gradient(
    65deg,
    theme(colors.text.White) _70%,
    theme(colors.background) _30%
  );
  --color-custom-client-bg: #ffffff;
  --color-custom-client-border: #e5e7eb;
  --color-custom-dept-border: #ff5e14;
  --color-custom-strength-bg: #231f20;
  --color-custom-service-layer: rgba(65, 65, 65, 0.5);
  --color-custom-how-work-border: #ff5e14;
  --color-custom-leader-bg: #ffffff;
  --color-custom-leader-border: rgba(0, 0, 0, 0.1);
  --color-custom-leader-hover-bg: #ff5e14;
  --color-custom-safe-work-bg: #1f2937;
  --color-custom-success-bg: rgba(255, 255, 255, 0.8);
  --color-custom-testimonial-bg: #f4f7fb;
  --color-custom-ensure-quality-bg: #f4f7fb;
  --color-custom-breadcrumb-bg: rgba(65, 65, 65, 0.4);
  --color-custom-footer-page-bg: #041436;
  --color-custom-footer-page-text: rgba(255, 255, 255, 0.8);
  --color-custom-footer-page-input-bg: rgba(255, 255, 255, 0.1);
  --color-custom-glance-border: #676e7c;
  --color-custom-sustainable-piller-bg: #231f20;
  --color-custom-sustainable-roadmap-bg: #231f20;
  --color-custom-sustainable-roadmap-shadow: rgba(0, 0, 0, 0.7);
  --color-custom-sustainable-bg: #000000;
  --color-custom-accessories-bg: #231f20;
  --color-custom-project-overlay: rgba(65, 65, 65, 0.74);
  --color-custom-transparency-bg: #1f2937;
  --color-custom-value-addition-bg: #000000;
  --color-custom-washing-bg: #111827;
  --color-custom-easy-border: #ff5e14;
  --color-custom-welcome-bg: #041436;
  --color-custom-best-overlay: rgba(65, 65, 65, 0.74);

  /* Shadow */
  --shadow-section: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-card: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
  --shadow-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-card2: 0 4px 12px rgba(0, 0, 0, 0.08);
  --shadow-box-LGshadow: 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* Shadow variables */

  /* Border radius */
  --radius-0px: 0px;
  --radius-2px: 2px;
  --radius-4px: 4px;
  --radius-6px: 6px;
  --radius-8px: 8px;
  --radius-12px: 12px;
  --radius-16px: 16px;
  --radius-20px: 20px;
  --radius-24px: 24px;
  --radius-50%: 50%;
  --radius-100%: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Slider navigations bullets cutom Design  */
.custom-pagination .swiper-pagination-bullet {
  @apply w-3 h-3 bg-text-Secondary rounded-24px opacity-100 cursor-pointer transition-all duration-300 ease-in-out;
}

/* Styling for the active pagination bullet */
.custom-pagination .swiper-pagination-bullet-active {
  @apply w-8 bg-background rounded-24px;
}

/* Optional: Add a hover effect for better UX */
.custom-pagination .swiper-pagination-bullet:hover {
  @apply bg-text-Secondary;
}

/* Slider navigations bullets cutom Design  END*/
